				<div style="float: right">
					{get_url url="/add-to-any" param="Product Search Engine"}
				</div>
				<h2>Search</h2>

				<p></p>
				<p><b>This is the page where you can search for a product or service in a database populated by our B2B Search Engines.</b>
				<br/>Our search engines crawl the web 24/7 in search of the best vendors have on offer. When a new product or service is dicovered anywhere in the world, our servers create an <a href="http://en.wikipedia.org/wiki/Resource_Description_Framework">RDF model</a> of the product and automatically make this information available to millions of potential buyers and thousands of B2B exhanges. 
				</p>
				
				<h2>Features</h2>
				<br/>Feel free to browse around &amp; click on some links to learn how our features work.</b>
				<p>Demo features: Change Locaction/Language, Signin/Signout, Twitter box, Bookmark Share box, Wiki2html, syntaxhighlighter, captcha, editor, etc.</p>

				<p>Below are some products and Services:</p>
				<ul>
					<li><a href="user-list">Database access demo: list all Users from DB</a></li>
					<li><a href="article/1/My-Article-One">My article 1</a></li>
					<li><a href="article/2/My-Article-Two">My article 2</a></li>
				</ul>				
				
				<p>{$text_today} Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque.</p>
				<p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque.</p>
				<p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa:</p>
				<h3>Example Unordered List</h3>
				<ul>
					<li>Suspendisse quis gravida massa felis.</li>
					<li>Vivamus sagittis bibendum erat.</li>
					<li>Nullam et orci in erat viverra ornare.</li>					
				</ul>
				<h3>Example Blockquote</h3>
				<blockquote>
						<p>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec ante. Suspendisse quis felis. Suspendisse potenti. Nullam et orci in erat viverra ornare. Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus.</p>
				</blockquote>
				